.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  background-color: #f2f2f2;
  z-index: 100;
  width: 100%;
  border: 1px solid lightgray;
  border-right: none;
}
.header__icon {
  object-fit: contain;
  height: 30px;
  margin: 20px;
  margin-left: 20px;
}

.header__center {
  display: flex;
  align-items: center;
  flex: 1;
  max-width: fit-content;
  padding: 10px;
  height: 40px;
  border-radius: 999px;
  border: 1px solid lightgrey;
}
.header__center > input {
  width: 250px;
  border: none;
  outline: none;
}
.header__right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 15vw;
  margin-right: 80px;
}
